 /*aplica a todos los elementos. nos va bien para saber la disposición de los elementos*/
/* *{
  border: 2px solid rgb(29, 48, 174);
} */


body{
    background-image: url("resources/fondo\ antivirus.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: cover;
    font-family: 'Jomhuria', sans-serif;
}

header{
  display: flex;
  align-content: space-around;
  gap:5%;
  margin:2% 2%;
}


.iconperfil{
    width:5%;
    height:5%;
    /* margin-left: 2%;
    margin-right: -3%;
    padding-right: 0%; */
}


.perfilgroup{
    display: flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items: center;
    gap:2%;
}

.perfiltext{
    color:white;
    margin-right: auto;
    margin-top: -1.5%;
    margin-left: -3%;
}

.menu {
    width: 20%; /* Ancho del menú */
    height: 20%; /* Altura del menú (tamaño completo del viewport) */
    display: flex;
    justify-content: right;
    align-items: center;
    gap:40%;
    margin-right:5%;
  }
  /* Estilos para los iconos del menú */
  .menu a {
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: inline-block; /* Mostrar los elementos en línea uno al lado del otro */
  }
  /* Estilo para las imágenes */
  .menu img {
    width: 180%; /*Ancho de las imágenes */
    height: 180%; /* Altura de las imágenes */
    /*background-color: white;*/
   /*filter: invert(98%) sepia(0%) saturate(692%) hue-rotate(238deg) brightness(117%) contrast(100%);*/
  }

  footer {
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between; /* Espaciar uniformemente los enlaces a lo largo del contenedor */
    align-items: center; /* Centrar los enlaces verticalmente */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor si no ocupa todo el ancho de la ventana */
    padding: 0 15px; /* Padding lateral para que no peguen al borde de la pantalla */
  }
  
  .footer-link {
    margin: 0 20px; /* Aumentar el espacio entre los enlaces */
  }
  
  .footer-link img {
    height: 50px; /* Altura de los iconos */
    width: auto;
    display: block; /* Asegura que los íconos se traten como bloque para aplicar el margen correctamente */
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    color: white;
 }
  
  .intro h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  .intro p {
    margin-top: 5px;
  }
  
  .cv-download {
    text-decoration: none;
    color: white;
    font-style: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Estilos para la imagen de perfil */
  .profile-picture {
    border-radius: 15px;
    max-width: 300px;
    height: auto;
  }

  .project{
    background-color: burlywood;
    background-size: 100vw 100vh;
    background-position: cover;
    padding:40px;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .project-list{
    display: flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    gap: 3%;
    font-family: sans-serif;
    align-content: center;
  }
  
  .project-list img{
    height: 60%;
    width: 60%;
  }

  .contact{
    background-color: greenyellow;
    background-size: 100vw 100vh;
    background-position: cover;
    padding:0px;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
    color:brown;
  }

  form {
    margin: 0 auto;
     width: 400px;
     /* Esquema del formulario */
     padding: 1em;
     border: 1px solid #ccc;
     border-radius: 1em;
    
    }